<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="background-color: white; color: #666666;">
  	<span class="check_room">1 phòng, 1 người lớn, 1 trẻ em</span>
  	<i class="fas fa-sort sort" aria-hidden="true"></i>
    </button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title text-center">Số phòng</h4>
                <div class="quantity"><input type="number" min="0" max="9" step="1" value="0">
                </div>
            </div>
            <div class="modal-body">
                <h4 class="modal-title text-center">Người lớn</h4>
                <div class="quantity"><input type="number" min="0" max="9" step="1" value="0">
                </div>
            </div>
            <div class="modal-body">
                <h4 class="modal-title text-center">Trẻ em</h4>
                <div class="quantity"><input type="number" min="0" max="9" step="1" value="0">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="cursor-pointer border text-primary border-primary rounded p-2 px-5" data-dismiss="modal" onclick="check_room()"> Lựa chọn</button>
            </div>
        </div>
    </div>
</div>