.article__top{
	width: 100%;
    box-shadow: 0 0 10px 4px #E9E9E9;
    margin-top: 35px;
    padding: 35px;
    margin-bottom: 70px;
}
.article__top h4{
	font-size: 24px;
	color: #212529;
}
.article__top button{
	background-color: #1877F2;
	color:white;
	border: 0px;
	width: 75px;
	height: 20px;
	border-radius: 3px;
	margin-top: 50px;
}
.article__top p{
	font-size: 16px;
}
.article__top h3{
	font-size: 28px;
	color: #212529;
}
.article__top img{
	width: 100%;
}
.article__right{
	width: 100%;
    box-shadow: 0 0 10px 4px #E9E9E9;
    margin-top: 35px;
    padding: 35px;
}
.article__right h4{
	font-size: 24px;
	color: #212529;
}
.article__right img{
	width: 30%;
	float: left;
	margin-right: 30px;
}
.article__right p{
	float: left;
	font-size: 13px;
	color: #272796;
}
.article__bottom img{
	width: 100%;
}