.content {
    padding-top: 15px;
}

.contact__right {
    font-size: 16px;
    padding-top: 45px;
    padding-left: 30px;
    width: 95%;
}

.contact {
    border: 1px solid grey;
    margin-bottom: 20px;
}

.contact__right select {
    width: 100%;
    height: 38px;
    margin-bottom: 60px;
}

.contact__right input {
    margin-bottom: 60px;
    width: 100%;
    height: 38px;
}

.contact__right button {
    width: 127px;
    height: 40px;
    background-color: #488BF8;
    color: white;
    border: 1px solid grey;
    float: right;
}

.contact__left p {
    font-size: 14px;
}