.intro p{
	font-size: 32px;
	font-style: italic;
	margin-bottom: 100px;
}
.intro h1{
	font-size: 32px;
	margin-top: 75px;
}
.intro span{
	font-size: 16px;
	display: flex;
	margin-bottom: 25px;
}
.intro i{
	font-size: 16px;
}
/*.intro_contact-add{
	display: flex;
	justify-content: space-around;
}*/
.intro_contact{
	padding-top: 20px;
}
.intro_contact h1{
	font-size: 28px;
}
.intro_contact p{
	font-size: 16px;
}
.intro_contact-add a{
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	margin-bottom: 25px;
}
.intro_contact-add a:hover{
	text-decoration: none;
}
.intro_contact-add{
	padding-bottom: 80px;
}