.hotel__top {
    padding-top: 30px;
}

.hotel__top span {
    font-size: 13px;
}

.hotel__top span a:hover {
    text-decoration: none;
}

.star {
    color: yellow;
}

.hotel__top-status {
    width: 140px;
    height: 35px;
    background-color: #F20530;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

.hotel__top-status p {
    margin-bottom: 0px;
    line-height: 35px;
}

.hotel-status h5 {
    font-size: 20px;
}

.hotel-status p {
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.hotel-status a:hover {
    text-decoration: none;
}

.square {
    width: 60px;
    height: 60px;
    background-color: #28A745;
    margin-top: 40px;
    border-radius: 5px;
    position: relative;
}

.square h5 {
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 16px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #28A745;
    position: absolute;
    top: 40px;
    left: 55px;
}

.shape_text {
    float: left;
    top: 58px;
    position: absolute;
    left: 90px;
    font-size: 16px;
}

.hotel-rate {
    display: flex;
}

.hotel-rank {
    background-color: #E7F3F8;
    padding: 25px;
    margin-top: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.hotel-rank p {
    margin-bottom: 0px;
}

.hotel-rank img {
    margin-right: 10px;
}

.select__room {
    padding-top: 70px;
}

.select__room h3 {
    font-size: 24px;
}

.select__room p {
    font-size: 13px;
    color: #6c757d;
}

.filter__room {
    background-color: #2D4B41;
    padding: 15px 75px 15px 75px;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter__room input {
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px;
}

.filter__room button {
    height: 40px;
    color: white;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.room-info img {
    width: 100%;
}

.room-info h4 {
    font-size: 24px;
    margin: 20px 0px 20px 0px;
}

.users {
    color: #28A745;
    margin-bottom: 30px;
}

.room__info p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.room__info i {
    margin-bottom: 20px;
}

.room__info {
    font-size: 16px;
    padding-right: 55px;
}

.room-info-content {
    display: flex;
    justify-content: space-around;
}

.room-sale {
    border-radius: 5px;
    background-color: #F20530;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 167px;
    text-align: center;
    float: right;
    clear: both;
}

.room__tittle-right p {
    font-size: 13px;
    line-height: 30px;
}

.room-sale p {
    margin-bottom: 0px;
}

.room-btn h4 {
    float: right;
    clear: both;
}

.room-btn button {
    font-size: 16px;
    color: white;
    height: 43px;
    width: 140px;
    background-color: #2494BF;
    border: 0px;
    border-radius: 5px;
    float: right;
    clear: both;
    margin-top: 25px;
}

.room-banner {
    margin-top: 58px;
    width: 100%;
    height: 30vh;
    background-image: url('ctks4.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner-bg {
    height: 30vh;
    background-color: rgba(51, 51, 51, 0.6);
    position: absolute;
    width: 100%;
}

.banner-left p {
    font-size: 28px;
    color: white;
    position: absolute;
    left: 20px;
    bottom: 30px;
}

.banner-left span {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.banner-left button {
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 16px;
    float: right;
    background-color: rgba(51, 51, 51, 0.6);
    padding: 5px 15px 5px 15px;
}

.banner-left {
    padding: 10px 15px 0px 0px;
    align-items: flex-end;
}

.room__tittle-right {
    padding-top: 25px;
}

.room__tittle-left {
    padding-top: 25px;
}

.room__tittle-left h5 {
    font-size: 20px;
}

.room__tittle-right p {
    font-size: 13px;
    line-height: 30px;
}

.room__tittle-right h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.room__tittle-right span {
    font-size: 15px;
    padding-right: 135px;
}

.room__tittle-right i {
    font-size: 15px;
    color: #008000;
}

.room_btn button {
    background-color: #007BFF;
    color: white;
    border: 0px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-bottom: 95px;
}

.room_btn h4 {
    font-size: 20px;
}

.room_btn p {
    font-size: 16px;
}

.hotel-recent {
    padding-top: 20px;
}

.hotel-recent img {
    width: 100%;
    margin-bottom: 8px;
    position: relative;
}

.hotel-recent h5 a {
    font-size: 16px;
    color: #1d2124;
}

.hotel-recent h5 a:hover {
    text-decoration: none;
}

.hotel-recent i {
    font-size: 16px;
    color: yellow;
}

.hotel-recent a:hover {
    text-decoration: none;
}

.hotel-recent h5 {
    padding-bottom: 20px;
}

.hotel-recent p {
    color: red;
    font-size: 24px;
    float: right;
    font-weight: bold;
    margin-top: 45px;
}

.hotel-square {
    width: 38px;
    height: 42px;
    background-color: #28A745;
    position: absolute;
    top: 30px;
    left: 228px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.hotel-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #28A745;
    position: absolute;
    top: 30px;
    left: 220px;
}