.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.title {
    font-size: 2.4rem;
    padding-top: 4.5rem;
}

.text-white {
    color: white;
}

.text {
    font-size: 1.6rem;
}

.margin {
    margin-top: 1.5rem;
    padding: 0px !important;
}

.margin__star {
    padding: 0px !important;
}

.margin__search {
    margin-top: 1.5rem;
    padding: 0px !important;
}

.margin__check {
    margin-top: 1.5rem;
    padding: 0px !important;
}


/* =====HEADER===== */


/* =====HEADER__MENU===== */

.navbar-fixed-top {
    top: -60px;
    transition: top 800ms ease 0s;
    position: fixed;
    z-index: 9999;
}

.show {
    top: 0px;
}

.header {
    width: 100%;
}

.header .header__menu {
    background-color: #012619;
}

.header .header__menu .header-top {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

.header-top {
    position: fixed;
    width: 100%;
    background-color: #012619;
}

.header .header__menu .header-top .menu-list {
    display: flex;
    list-style-type: none;
}

.header .header__menu .header-top .menu-list li a {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0 2rem;
    color: white;
}

#header ul li.active a {
    color: #74AD15;
}

.active {
    color: #74AD15;
}


/* to override the existing css for "a" tag */

#header .active a {
    color: #fff;
}

.header .header__menu .header-top .menu-list li a:hover {
    color: #74AD15;
}

.humberger {
    display: none;
}

.humberger .line {
    width: 2rem;
    height: 2px;
    background-color: white;
    margin: 3px;
}

.header__line {
    margin: 0px;
    background-color: gray;
}

ul.sub-menu {
    width: 150px;
    background-color: #012619;
    position: absolute;
    z-index: 2;
    display: none;
    padding: 1.5rem 1rem;
}

ul.sub-menu li {
    display: block;
    color: white;
    text-align: center;
    cursor: pointer;
}

ul.sub-menu li:last-child {
    border: none;
}

li:hover ul.sub-menu {
    display: block;
}


/* =====END HEADER__MENU */


/* =====HEADER__BG===== */

.header__bg {
    background-image: url(../img/show_case.png);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__bg .header__bgcolor {
    background-color: #012619d3;
    width: 100%;
    height: 100%;
}

.header__bg .header__bgcolor .header__search {
    width: 100%;
}

.margin input {
    overflow: visible;
    width: 100%;
    border: 0.5px solid gray;
    font-size: 1.6rem !important;
    height: 52px;
    border-radius: 5px;
}

.margin__search button {
    overflow: visible;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #896E29;
    font-size: 1.8rem !important;
    height: 51px;
    border: 0px;
    border-radius: 5px;
    padding: 0px 0px 0px 3px !important;
}

.margin__search button:hover {
    color: #896E29;
    background-color: white;
}

.header__search .margin__star button {
    margin-top: 1.5rem;
    text-align: left !important;
    height: 52px;
    font-size: 1.6rem;
    width: 100%;
    border: 0.5px solid gray;
    border-radius: 5px;
    background-color: #fff;
}

.header__search .margin__star button .fa-lg {
    color: yellow
}

.header__search .margin__star .star {
    width: 150px;
    height: 120px;
    position: absolute;
    padding: 1rem;
    z-index: 1000;
    display: none;
    background-color: #fff;
}

.header__search .margin__star .star .star__child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
}

.header__search .margin__star .star .star__child .fa-2x {
    color: yellow;
}


/* .header__search .margin__star #star-tab input {
    width: 20px;
    height: 20px;
} */


/* input check */

.header__search .margin__check #check {
    width: 100%;
    height: 52px;
    /* font-size: 18px; */
    padding: 0px !important;
}

.header__search .margin__check #check button {
    width: 100%;
    height: 52px;
    font-size: 18px;
    padding: 0px !important;
    text-align: left;
}

.header__search .margin__check #check #myModal .modal-footer button {
    text-align: center;
}


/* input star */

.room-type-form {
    position: relative;
}

#star {
    cursor: pointer;
}

.room-type-form #star-tab {
    position: absolute;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    display: none;
}

.room-type-form:hover #star-tab {
    display: block;
}

.room-type-form #star-tab .card {
    width: 200px !important;
    background-color: #f5f5f5;
}


/* =====END HEADER__BG===== */


/* ======HEADER__SLIDE====== */

.header__slide .imgslide {
    width: 100%;
}

.slick-slide img {
    width: 100%;
    height: 410px;
}

.slick-dots li button::before,
.slick-dots li.slick-active button:before {
    color: #ffffff;
}

.slick-dots li button:before {
    font-size: 1.5rem !important;
}

.slick-next,
.slick-prev {
    width: 4rem !important;
    height: 4rem !important;
    color: green !important;
    font-size: 20rem;
}

.slick-next:before,
.slick-prev:before {
    font-family: slick;
    font-size: 40px !important;
    line-height: 1;
    opacity: .75;
    color: green !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before,
.slick-next:before {
    font-family: "Glyphicons Halflings", "slick", sans-serif;
    font-size: 40px;
}

.slick-prev:before {
    content: "\e257";
}

.slick-next:before {
    content: "\e258";
}


/* ======END HEADER__SLIDE===== */


/* ======END HEADER====== */


/* ======CONTENT====== */

.content {
    padding-top: 45px;
}


/* ======CONTENT__SUGGES====== */

.slick-slide .content__sugges-name {
    width: 100%;
}

.slick-slide .content__sugges-name .content__content {
    width: 100%;
}

.slick-slide .content__sugges-name .content__content:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.slick-slide .content__sugges-name img {
    width: 100%;
    padding-top: 30px;
}

.img {
    width: 100%;
}

.content__sugges-name p {
    font-size: 13px;
}

.content__sugges-name a:hover {
    text-decoration: none;
}

.content__sugges-name .content__content h5 {
    font-size: 24px;
    padding-top: 20px;
}

.content__sugges-rate p {
    font-size: 16px;
    color: white;
    line-height: 40px;
    width: 65px;
    height: 40px;
    background-color: #28A745;
    text-align: center;
    border-radius: 5px;
    float: left;
}

.content__sugges-rate span {
    float: left;
    padding-left: 10px;
    line-height: 40px;
    font-size: 16px;
}

.content__sugges-money p {
    float: left;
    clear: both;
    font-size: 16px;
    color: red;
}

.content__sugges-money span {
    color: black;
    clear: both;
}

.content__sugges-money button {
    width: 185px;
    height: 45px;
    background-color: #494949;
    color: white;
    border: 1px solid grey;
    margin-bottom: 30px;
    font-size: 16px;
}


/* ======END CONTENT__SUGGES===== */


/* ======CONTENT__DISCOVER===== */

.content__discover-img img {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.content__discover-place {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 39%;
}

.content__discover-place p {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.content__discover-place span {
    color: white;
    font-size: 16px;
}

.content__discover-place a:hover {
    text-decoration: none;
}

.content__discover-place p:hover {
    text-decoration: none;
    color: #33CC00;
}


/* ======END CONTENT__DISCOVER===== */


/* ======CONTENT__INSPIRED====== */

.content__inspired {
    background-color: #DDDDDD;
    padding-top: 40px;
    padding-bottom: 95px;
}

.content__tittle {
    text-align: center;
}

.content__tittle h3 {
    color: #012619;
    font-size: 24px;
}

.content__tittle p {
    font-size: 16px;
}

.content__inspired-left {
    width: 100%;
    position: relative;
}

.content__inspired-left p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}

.content__inspired-left span {
    color: white;
    font-size: 13px;
}

.test {
    top: 30%;
    position: absolute;
    z-index: 2;
    left: 10%;
}

.content__inspired-left button {
    color: white;
    font-size: 16px;
    background-color: #6C757D;
    width: 115px;
    height: 40px;
    border: 1px solid grey;
    font-weight: bold;
}

.content__inspired-left a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.content__inspired-right img {
    width: 100%;
}

.content__inspired-right h6 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.content__inspired-right p {
    font-size: 13px;
    margin-top: 8px;
}

.content__inspired-right a {
    color: #212529;
}

.content__inspired-right a:hover {
    text-decoration: none;
    opacity: 0.7;
    color: #333399;
}

.content__inspired-add button {
    width: 130px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 16px;
    background-color: #DDDDDD;
    -moz-box-shadow: 2px 2px #A1A1A1;
    -webkit-box-shadow: 2px 2px #A1A1A1;
    box-shadow: 2px 2px #A1A1A1;
}

.content__inspired-add button:hover {
    background-color: white;
}


/* ======END CONTENT__INSPIRED===== */


/* ======END CONTENT====== */


/* ======FOOTER====== */

.footer__top {
    width: 100%;
    min-height: 105px;
    background-color: #222222;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__top-mail {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.footer__top-mail input {
    width: 300px;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-top: 0px;
    font-size: 16px;
}

.footer__top-mail button {
    width: 119px;
    height: 50px;
    background-color: #916D2B;
    color: white;
    border-radius: 5px;
    border: 0px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 700;
}

.footer__top-mail button:hover {
    background-color: white;
    color: #916D2B;
}

.text {
    color: white;
    padding-left: 30px;
}

.text p {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.text span {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.footer__middle {
    background-color: #014029;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__middle-address p {
    font-size: 13px;
    margin-top: 10px;
}

.footer__middle-address a {
    color: white;
}

.footer__middle-address a:hover {
    color: #F2DE80;
    text-decoration: none;
}

.footer__middle-address h6 {
    margin-top: 15px;
    padding-bottom: 20px;
    color: #D5B862;
    font-size: 14px;
}

.footer__middle-app a {
    color: white;
}

.footer__middle-app h6 {
    margin-top: 15px;
    padding-bottom: 20px;
    color: #D5B862;
    font-size: 14px;
}

.footer__middle-app a:hover {
    color: #896E29;
}

.icon {
    padding-right: 10px;
    padding-top: 10px;
}

.footer__middle-app p {
    color: #D5B862;
    margin-top: 20px;
    font-size: 14px;
}

.footer__bottom {
    /*text-align: center;*/
    background-color: #012619;
    color: white;
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 100% !important;
}


/* .back-to-top {
                    position: fixed;
                    top: auto;
                    left: auto;
                    right: 15px;
                    bottom: 15px;
                    font-size: 32px;
                    opacity: 0.8;
                    z-index: 9999;
                    cursor: pointer;
                }
                
                .back-to-top:hover {
                    opacity: 1;
                } */

.lentop {
    display: none;
    bottom: 10%;
    right: 10px;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
}

.lentop div {
    background: #9C8865;
    border: 2px solid #92846F;
    border-radius: 45px;
    padding: 11px 12.5px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3)
}

.lentop img {
    width: 16px;
    height: 16px;
}


/* ======END FOOTER====== */

@media(max-width: 991px) {
    .humberger {
        position: absolute;
        right: 2rem;
        top: 2rem;
        cursor: pointer;
        display: block;
    }
    .header .header__menu .header-top {
        flex-direction: column;
        align-items: flex-start;
    }
    .header .header__menu .header-top .menu-list {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: ease-in 250ms;
    }
    .header .header__menu .header-top .showmenu {
        max-height: 100vh;
    }
    .header .header__menu .header-top .menu-list li {
        padding: 1rem 0;
    }
    .header__bg {
        height: 60vh;
    }
    .col-md-2 {
        max-width: 20% !important;
    }
}

@media(max-width:767px) {
    .slick-slide img {
        width: 100%;
        height: 250px;
    }
    .header__bg {
        height: 80vh;
    }
    .col-md-2 {
        max-width: 50% !important;
    }
    .margin input {
        overflow: visible;
        width: 80%;
        font-size: 1.8rem !important;
        /* height: 100%; */
        height: 50px;
    }
    .margin .btn .btn-info .btn-lg {
        overflow: visible;
        width: 100%;
        font-size: 1.8rem !important;
        height: 50px;
    }
}

@media(max-width:575px) {
    .slick-slide img {
        width: 100%;
        height: 100px;
    }
    .header__bg {
        height: 110vh;
    }
    .col-md-2 {
        max-width: 100% !important;
    }
    .margin input {
        overflow: visible;
        width: 80%;
        font-size: 1.8rem !important;
        /* height: 100%; */
        height: 50px;
    }
    .margin button {
        overflow: visible;
        width: 80%;
        font-size: 1.8rem !important;
        height: 50px;
    }
    /* .header__search .margin__star input {
        margin-top: 1.5rem;
        padding: 0 0px;
        height: 50px;
        font-size: 1.6rem;
        width: 100%;
    } */
    .header__search .margin__check #check {
        padding: 0 3.5rem !important;
    }
    .header__search .margin__star {
        margin: 0 35px;
    }
    .header__search .margin__search {
        padding: 0 3.5rem !important;
    }
}