<<<<<<< HEAD
            * {
            margin: 0;
            padding: 0;
        }
        
        .wrapper {
            width: 100%;
            box-sizing: border-box;
        }
        
        html {
            font-size: 62.5%;
        }
        
        .news {
            padding-top: 2.8rem;
        }
        
        .news .news__title h1 {
            font-size: 3.2rem;
        }
        
        .news .news__title {
            padding-bottom: 3rem;
        }
        
        .news .news__content .content-top {
            padding-bottom: 9rem;
        }
        
        .content-top .content-child .content-left {
            padding-bottom: 1.5rem;
        }
        
        .content-top .content-child .content-left .ins1 {
            width: 100%;
            position: relative;
        }
        
        .content-top .content-child .content-left .left-content {
            position: absolute;
            top: 30%;
            z-index: 2;
            color: white;
            width: 80%;
            left: 10%;
        }
        
        .content-child .content-left .left-content h1 {
            font-size: 2.8rem;
        }
        
        .content-child .content-left .left-content h5 {
            font-size: 1.3rem;
        }
        
        .content-top .content-child .content-right .right-child {
            display: flex;
            padding-bottom: 1.5rem;
        }
        
        .content-child .content-right .right-child .img-right {
            width: 100%;
        }
        
        .content-child .content-right .right-child a {
            width: 35%;
            color: black;
            font-size: 1.3rem;
            font-weight: 700;
            text-decoration: none;
        }
        
        .content-child .content-right .right-child .right-text {
            width: 65%;
            color: black;
            padding-left: 2rem;
        }
        
        .content-child .content-right .right-child .right-text padding-bottom {
            padding-bottom: 3rem;
        }
        
        .content-child .content-right .right-child .right-text a:hover {
            font-size: 1.3rem;
            color: #4d4dff;
            text-decoration: none;
        }
        /* content-bottom */
        
        .content-bottom {
            padding-bottom: 3rem;
        }
        
        .content-bottom .bottom-right .card {
            border: 0px;
        }
        
        .content-bottom .bottom-left .card {
            border: 0px;
        }
        
        .content-bottom .bottom-right .card:hover {
            /* border: 1px solid #B4B4B4; */
            box-shadow: 5px 10px 10px 5px #B4B4B4;
        }
        
        .content-bottom .bottom-left .card:hover {
            /* border: 1px solid #B4B4B4; */
            box-shadow: 5px 10px 10px 5px #B4B4B4;
        }
        
        .news__content .content-bottom .bottom-right h1 {
            padding-bottom: 1rem;
            font-size: 2.8rem;
        }
        
        .news__content .content-bottom .bottom-left h1 {
            padding-bottom: 1rem;
            font-size: 2.8rem;
        }
        
        .card--content {
            padding: 0 1.5rem;
        }
        /* .card-content:hover {
    border: 1px solid green;
=======
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.news {
    padding-top: 2.8rem;
}

.news .news__title h1 {
    font-size: 3.2rem;
}

.news .news__title {
    padding-bottom: 3rem;
}

.news .news__content .content-top {
    padding-bottom: 9rem;
}

.content-top .content-child .content-left {
    padding-bottom: 1.5rem;
}

.content-top .content-child .content-left .ins1 {
    width: 100%;
    position: relative;
}

.content-top .content-child .content-left .left-content {
    position: absolute;
    top: 30%;
    z-index: 2;
    color: white;
    width: 80%;
    left: 10%;
}

.content-child .content-left .left-content h1 {
    font-size: 2.8rem;
}

.content-child .content-left .left-content h5 {
    font-size: 1.3rem;
}

/*.content-top .content-child .content-right*/ .right-child {
    display: flex;
    padding-bottom: 1.5rem;
}

/*.content-child .content-right .right-child*/ .img-right {
    width: 100%;
}

/*.content-child .content-right*/ .right-child a {
    width: 35%;
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}

/*.content-child .content-right .right-child*/ .right-text {
    width: 65%;
    color: black;
    padding-left: 2rem;
}

/*.content-child .content-right .right-child*/ .right-text padding-bottom {
    padding-bottom: 3rem;
}

/*.content-child .content-right .right-child*/ .right-text a:hover {
    font-size: 1.3rem;
    color: #4d4dff;
    text-decoration: none;
}


/* content-bottom */

.content-bottom {}


/* .content-bottom .bottom-right {
    background-color: blue;
    height: 100px;
}

.content-bottom .bottom-left {
    background-color: red;
    height: 100px;
>>>>>>> 5c25c94cd108d3a0aa1caac6f8b3d4ff32730bd9
} */
        
        .card .card-content .card-img .img-card {
            width: 100%;
            height: 17rem;
        }
        
        .card .card-content .card--content .card-title h3 {
            padding: 1rem 0 3rem 0;
            color: black;
        }
        
        .card-content .card--content .card-title a:hover {
            text-decoration: none;
        }
        
        .card-content .card--content .card-title h3:hover {
            color: rgb(41, 130, 212);
        }
        
        .card .card-content .card--content .card-time {
            padding: 0 0 1rem 0;
            font-size: 1.4rem;
            color: black;
        }
        
        .card .card-content .card-text {
            padding: 1.8rem 1.5rem 3rem 1.5rem;
            font-size: 1.4rem;
            background-color: #F7F7F7;
            color: black;
        }
        
        .content-footer {
            padding-bottom: 3rem;
        }
        
        .content-footer button {
            width: 22rem;
            height: 5rem;
            border-radius: 5px;
            border: 1px solid #EEEEEF;
            font-size: 1.8rem;
            background-color: #F0F8FF;
            -moz-box-shadow: 3px 3px #B4B4B4;
            -webkit-box-shadow: 3px 3px #B4B4B4;
            box-shadow: 3px 3px #B4B4B4;
        }
        
        .content-footer button:hover {
            color: white;
            border: 1px solid white;
            background-color: #916D2B;