.wrapper {
    width: 100%;
}

html {
    font-size: 62.5%
}

.content {
    width: 100%;
    padding: 3rem 0;
}

.content .contai__content {
    width: 35%;
    margin: auto;
    padding: 6rem 0;
}

.content .contai__content h2 {
    padding-bottom: 4.5rem;
}

.content .contai__content p {
    font-size: 13px;
    padding-bottom: 1.5rem;
}

.content .contai__content input {
    width: 100%;
    font-size: 1.6rem;
    height: 3.6rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    border: 1px solid gray;
}

.content .contai__content button {
    width: 100%;
    font-size: 1.6rem;
    height: 4.5rem;
    background-color: #1D7EE6;
    border: 0px;
    border-radius: 3px;
}

@media(max-width:991px) {
    .content .contai__content {
        width: 55%;
    }
}

@media(max-width:767px) {
    .content .contai__content {
        width: 65%;
    }
}

@media(max-width:575px) {
    .content .contai__content {
        width: 75%;
    }
}