.content {
    padding: 20px 0;
}

.signin__top {
    text-align: center;
    padding-top: 40px;
}

.signin__top h6 {
    font-size: 28px;
    color: #212529;
}

.signin__top p {
    font-size: 13px;
    margin-top: 30px;
}

.signin__top-btn {
    height: 40px;
}

.signin__top-fb {
    background-color: #2494BF;
    border-radius: 5px;
    padding: 15px 15px;
}

.signin__top-fb span {
    font-size: 16px;
    color: white;
}

.fb {
    color: white;
    line-height: 40px;
}

.signin__top-gg {
    background-color: #DC3545;
    border-radius: 5px;
    padding: 15px 15px;
}

.signin__top-gg span {
    font-size: 16px;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.signin__top-email span {
    font-size: 13px;
}

.signin__top-email {
    padding-top: 30px;
}

.signin__mid-input input {
    width: 80%;
    height: 35px;
    margin-top: 27px;
    font-size: 16px;
    margin-left: 30px;
}

.signin__mid-btn {
    margin-top: 20px;
}


/* .signin__mid-check {
    width: 90%;
    display: flex;
}

.signin__mid-check input {
    margin-left: 30px;
    margin-top: 30px;
}

.signin__mid-check label {
    font-size: 13px;
    padding-top: 25px;
    padding-left: 10px;
} */

.signin__mid-btn button {
    width: 80%;
    height: 43px;
    background-color: #1D7EE6;
    border: 1px solid grey;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 10px 0px 30px 30px;
}

.signin__bottom a {
    font-size: 16px;
    padding-left: 30px;
    width: 80%;
}

.signin__bottom p {
    font-size: 13px;
    margin-left: 30px;
    width: 80%;
}

.signin__bottom-btn {
    width: 80%;
    margin-bottom: 50px;
}

.signin__bottom-btn span {
    font-size: 16px;
}

.signin__bottom-btn button {
    width: 125px;
    height: 38px;
    border: 1px solid #1D7EE6;
    font-size: 16px;
    float: right;
    color: #1D7EE6;
    border-radius: 5px;
}

.signin__bottom-btn button:hover {
    color: white;
    background-color: #1D7EE6;
}