.sort {
    color: #666666;
}

.quantity {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 5px;
}

.quantity input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 178px;
    padding: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    height: 50px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-button {
    cursor: pointer;
    border: solid 1px solid #eee;
    width: 26px;
    text-align: center;
    color: #333;
    background-color: #E9ECEF;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up,
.quantity-button.quantity-down,
.quantity input {
    border: solid 1px #ccc;
    display: inline-block;
    line-height: 40px;
}

.quantity-button.quantity-up {
    width: 50px;
}

.quantity-button.quantity-down {
    float: left;
    width: 50px;
}

.modal-footer button {
    text-align: center;
    font-size: 20px;
    color: #3896FC;
    background-color: #EFEFEF;
    border-radius: 5px;
}

.text-success {
    padding-top: 5px !important;
}


/* .plus-amount{
	
}
.text-success.minus-amount{
	
} */


/* .fade:not(.show) {
    opacity: 0.5 !important;
} */