<header id="header" class="header">
    <div class="header__menu">
        <div class="container">
            <div class="header-top">
                <div class="header__menu-logo">
                    <a href="index.html"><img src="./assets/img/logo.png" /></a>
                </div>

                <ul class="menu-list" id="menubar">
                    <li class="active"><a href="index.html" class="active">Trang chủ</a></li>
                    <li><a href="gioithieu.html">Giới thiệu</a></li>
                    <li><a href="news.html">Tin tức</a></li>
                    <li><a href="contact.html">Liên hệ</a></li>
                    <li>
                        <a href="#"><i class="fa fa-globe" aria-hidden="true"></i>Vietnamese  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <ul class="sub-menu">
                            <li><a href="#">Vietnamese</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </li>
                    <li><a href="sign_up.html"><i class="fa fa-users" aria-hidden="true"></i>Đăng nhập</a></li>
                    <li><a href="sign_in.html"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng kí</a></li>
                </ul>

                <div class="humberger" id="clickbar">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="header__line">
</header>